{% if page.show-cta %}
<!-- Call to Action Section -->
<div class="container">
  <div class="row cta-box">
    <h2 id="heading">{{ page.cta-heading }}</h2>
    <span>
      <p>{{ page.cta-description }}</p>
    </span>

    <a href="{{ page.cta-button-url | relative_url }}" 
       target="_blank" 
       rel="noopener" 
       class="btn button btn-primary btn-lg button-text mt-3">
      {{ page.cta-button-text }}
    </a>

  </div>
</div>
{% endif %}

<!-- This page is to capture content in internal resource pages -->
